<div class="not-found-page">
  <div class="not-found-page__content">
    <p class="not-found-page__code"> 404 </p>
    <p class="not-found-page__text"> Не туда попали </p>
    {{> Link page="login" text="Назад к чатам"}}
  </div>
</div>
