{{> ButtonBack page='chat'}}
<div class="editprofile-page">
    <div class="editprofile-page__avatar">{{> Avatar photo=''}}</div>
    <div class="editprofile-page__content">
        {{> ProfileField title='Почта' edit='pochta@yandex.ru' }}
        {{> ProfileField title='Логин' edit='ivanovi' }}
        {{> ProfileField title='Имя' edit='Иван' }}
        {{> ProfileField title='Фамилия' edit='Иванов' }}
        {{> ProfileField title='Имя в чате' edit='Иван' }}
        {{> ProfileField title='Телефон' edit='+7 (909) 967 30 30' }}
    </div>
    <div class='editprofile-page__footer'>
        <div class="editprofile-page__footer--button">
            {{> Button text="Сохранить" page="profile"}}
        </div>
    </div>
</div>
