<div class="error-page">
  <div class="error-page__content">
    <p class="error-page__code"> 500 </p>
    <p class="error-page__text"> Мы уже фиксим </p>
    {{> Link page="login" text="Назад к чатам"}}
  </div>
</div>
