<div class="main">
    {{> ButtonBack page='chat'}}
    <div class="profile-page">
        <div class="profile-page__avatar">{{> Avatar avatar=''}}</div>
        <div class="profile-page__content">
            {{> ProfileField title='Почта' value='pochta@yandex.ru' name='email' }}
            {{> ProfileField title='Логин' value='ivanovi' name="login" }}
            {{> ProfileField title='Имя' value='Иван' name='first_name' }}
            {{> ProfileField title='Фамилия' value='Иванов' name='second_name' }}
            {{> ProfileField title='Имя в чате' value='Иван' name='display_name' }}
            {{> ProfileField title='Телефон' value='+7 (909) 967 30 30' name='phone' }}
        </div>
        <div class='profile-page__footer'>
            {{> Link className='--align-left' page='editprofile' text='Изменить данные'}}
            {{> Link className='--align-left' page='editpassword' text='Изменить пароль'}}
            {{> Link className='--align-left--exit' page='chat' text='Выйти'}}
        </div>
    </div>
</div>
