{{> ButtonBack page='chat'}}
<div class="profile-page">
    <div class="profile-page__avatar">{{> Avatar photo=''}}</div>
    <div class="profile-page__content">
        {{> ProfileField title='Почта' value='pochta@yandex.ru'}}
        {{> ProfileField title='Логин' value='ivanovi' }}
        {{> ProfileField title='Имя' value='Иван' }}
        {{> ProfileField title='Фамилия' value='Иванов' }}
        {{> ProfileField title='Имя в чате' value='Иван' }}
        {{> ProfileField title='Телефон' value='+7 (909) 967 30 30' }}
    </div>
    <div class='profile-page__footer'>
        {{> Link className='--align-left' page='editprofile' text='Изменить данные'}}
        {{> Link className='--align-left' page='editpassword' text='Изменить пароль'}}
        {{> Link className='--align-left--exit' page='chat' text='Выйти'}}
    </div>
</div>