<div class="avatar">
  {{#if photo}}
    <img class="avatar__image" src={{photo}} /><img />
  {{else}}
    <img class="avatar__image" src="../../assets/no-photo.png" /><img />
  {{/if}}
  <div class="avatar__text">
    <p>Поменять аватар</p>
  </div>
</div>